<div class="login-form h-100 d-flex justify-content-center align-items-center container">
  <div class="login-form__container card p-3">
    <h1 class="display-4 text-center mb-4">{{'login.title' | translate}}</h1>
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="form-group">
        <label for="login">{{'login.login' | translate}}</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
          </div>
          <input type="text" class="form-control" id="login" autocomplete="off"
                 placeholder="{{'login.placeholder_email' | translate}}" formControlName="login">
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">{{'login.password' | translate}}</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-key" aria-hidden="true"></i>
            </div>
        </div>
          <input type="{{showPassword ? 'text' : 'password'}}" class="form-control" id="exampleInputPassword1"
                 autocomplete="off" placeholder="{{'login.placeholder_password' | translate}}" formControlName="password">
          <div class="input-group-append" (click)="showPassword = !showPassword">
            <div class="input-group-text">
              <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <small class="text-danger" *ngIf="error">{{'login.error_message' | translate}}</small>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-5" [disabled]="form.invalid">
        <span class="spinner-border text-light mr-2" role="status" *ngIf="spinnerShow">
          <span class="sr-only">{{'loading' | translate}}</span>
        </span>
        <span>{{'login.sign_in' | translate}}</span>
      </button>
    </form>
  </div>
</div>
